:root {
    --main-color: #313131
}

.music {
    margin: 0px;
    /* background-color: #000; */
    color: #313131;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.list {
    width: 30%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
}

.list_words {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    margin-top: 8px;
}

.music_list {
    width: 70%;
    height: 85%;
    float: left;
    overflow: auto;
    scroll-behavior: smooth;
}

.name_list_word {
    overflow: hidden;
    margin-left: 8px;
}

.name_list_word_p {
    font-size: 20px;
    margin: 0px;
    white-space: nowrap;
}

.music_from {
    color: #777;
}

.singer {
    font-size: 16px;
}

.play {
    /* position: absolute; */
    /* bottom: 0px; */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 32px;
    /* backdrop-filter: blur(100px); */
    width: 100%;
    display: flex;
    height: 15%;
    align-items: center;
    /* padding-right: 1; */
}

#fengmian {
    width: auto;
    height: 100%;
    /* background-position: center; */
    float: left;
    /* background-size: cover; */
    margin-right: 10px;
    border-radius: 32px;
    /* background-image: url(../assets/musicicon/bg.svg) */
}

#play_main {
    flex-grow: 1;
}

#play_bottom {
    display: flex;
    align-items: center;
    width: 100%;
}

.play_words {
    font-size: 30px;
    margin: 0px;
    color: var(--main-color);
}

#play_long {
    display: flex;
    flex-grow: 2;
}

.play_time {
    float: left;
    margin: 0 6px;
    width: 40px;
    color: var(--main-color);
}

.play_all_time {
    margin: 0px 6px;
    float: left;
    width: 40px;
    color: var(--main-color);
}

.play_time_range {
    float: left;
    /* width: 90%; */
    margin: 0;
    flex-grow: 1;
}

#play_control {
    /* float: left; */
    /* width:245px; */
    /* position: relative; */
    /* top: -10px; */
    margin: 0 16px;
    fill: var(--main-color);
    stroke: var(--main-color);
}

.play_mini_control {
    white-space: pre;
}

.play_model,
.last_music,
.stop_or_start,
.next_music,
.play_list,
.dis_or_appear,
.a_music {
    width: 35px;
    height: 35px;
    float: left;
    margin: 4px;

}

/* .lastMusic {
    background-image: url(../assets/musicicon/last.svg)
}

.nextMusic {
    background-image: url(../assets/musicicon/next.svg)
}

.playList {
    background-image: url(../assets/musicicon/list.svg)
}

.disOrAppear {
    background-image: url(../assets/musicicon/tra.svg)
}

.aMusic {
    background-image: url(../assets/musicicon/aMusic.svg)
} */

#lyric {
    overflow-y: auto;
    height: 85%;
    /* width: 974px; */
    scroll-behavior: smooth;
    color: var(--main-color);
    font-size: 20px;
}

.lyric_list {
    height: 80px;
    transition: 0.6s;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.lyric_lrc,
.lyric_t {
    margin: 0;
    text-align: center;
}

/*横条样式*/
#range {
    -webkit-appearance: none;
    background-size: 75% 100%;
    border-radius: 10px;
    background: linear-gradient(var(--main-color),var(--main-color)) no-repeat, #ddd;

}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
}

#volume {
    -webkit-appearance: none;
    background-size: 100% 100%;
    border-radius: 10px;
    background: linear-gradient(var(--main-color),var(--main-color)) no-repeat, #ddd;

}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
}
